html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
.flex-parent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.full-center {
  min-height: 100%;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/*
	Global variables 
*/
* {
  box-sizing: border-box;
}
html,
body,
#app-container,
#app-container div {
  height: 100%;
  font-family: 'Inconsolata', 'Courier';
  overflow-x: hidden;
}
#app-container header {
  padding: 1.5rem;
}
#app-container header h1 {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 1.5rem;
}
#app-container .chart {
  background-color: #ECECEC;
  padding: 2rem 0;
  height: auto;
}
#app-container .nametags {
  height: auto;
  max-width: 1280px;
  margin: 3rem auto;
}
#app-container .nametags h1 {
  font-size: 1.5rem;
  color: #2C3E50 !important;
  margin-bottom: 2rem;
}
#app-container .nametags h1 span.clear {
  color: #dcdcdc;
  font-style: italic;
}
#app-container .nametags .tag,
#app-container .nametags textarea {
  display: inline-block;
  margin-right: 1rem;
}
#app-container .nametags .tag {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.1);
  height: auto;
}
#app-container .nametags .tag h2 {
  padding: 1rem;
  display: inline-block;
  margin-right: 0.25rem;
}
#app-container .nametags .tag .remove {
  cursor: pointer;
  display: block;
  float: right;
  height: 3rem;
  width: 3rem;
  background-image: url('../images/cross.png');
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 1px solid rgba(0, 0, 0, 0.03);
}
#app-container .nametags .tag .remove:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#app-container .nametags textarea {
  font-size: inherit;
  border: 1px solid #dcdcdc;
  outline: none;
  resize: none;
  overflow-y: hidden;
  font-family: inherit;
  padding: 0.9rem 1.25rem;
}
#app-container canvas {
  display: block;
  margin: 0 auto;
}
